.password-input.input-container {
  position: relative;

  &[data-has-value='true'] {
    .input-place-holder {
      color: #8e8e93 !important;
    }
  }
  input {
    &:-webkit-autofill {
      -webkit-text-fill-color: transparent;
    }
  }

  .input-place-holder {
    @apply text-[2rem] font-[500] leading-[2.4rem] text-[#8e8e93] transition-all;
    color: #8e8e93 !important;
  }

  .label-inside-animation {
    position: absolute;
    transition: all 0.2s ease;
    color: #686868;
    @apply text-[2rem];
  }
}
.password-input.input-container .onChangePassword {
  &.has-error {
    --border-color: #ed3636;
    --icon-color: #ed3636;
    --shadow-color: transparent;
  }
}
