:root {
  --primary-color: #ff6a24;
  --shadow: 0px 3px 7px rgba(0, 0, 0, 0.05);
  --text-color-white: #fff;
  --bg-disabled: #232324;
  --primary-gradient: linear-gradient(180deg, #fa9528 0%, #f76f08 100%);
}
